{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load product_obj %}

{% block title %}Ecommerce{% endblock %}

{% block content %}

<!-- content -->
<div class="card-group container">
    <div class="row mx-auto">
        {% for product in products %}
            <div class="col-sm">
                <div class="card m-3" style="width: 18rem;">
                    <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap"></a>
                    <div class="card-body row">
                        <h5 class="card-title col">{{ product.name }}</h5>
                        <h5 class="card-text col">{{ product.price }}</h5>
                        <a href="{% url 'add' product.id %}" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}